# Buildstream Specific
.bst
initramfs
all
source-checkout

# MKOSI Specific
mkosi.key
mkosi.crt
.mkosi-private
mkosi.cache
mkosi.builddir
mkosi.output
mkosi.skeleton
mkosi.tools
mkosi.tools.manifest

# IDE Specific
.vscode
.idea

# Us Specific
files/linux/.config
/pkgs